# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Database files
*.db
*.sqlite3

# Student / Attendance Data
data/faces/
data/attendance_photos/
data/exports/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Temporary files
temp/
tmp/
*.tmp